/* Global */
html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

.d-none {
    display: none !important;
}

body {
    background-color: black;
    color: white;
    margin: 0;
    font-family: spacex-regular;
    scroll-behavior: smooth;
}

.main {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

header {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    background-color: black;
    z-index: 99;
}

button {
    background-color: transparent;
    cursor: pointer;
}

li {
    list-style: none;
}

h1 {
    font-size: 55px;
    margin: 0;
}

.link-1 {
    font-size: 20px;
    color: white;
    font-family: spacex-regular;
    text-decoration: none;
    border: 2px solid white;
    padding: 10px 15px;
    z-index: 2;
}

.link-2 {
    font-size: 20px;
    color: white;
    font-family: spacex-regular;
    text-decoration: none;
    border: 2px solid white;
    padding: 10px 15px;
    z-index: 2;
    margin-top: 24px;
}

/* Head */
.logo-container {
    display: flex;
    align-items: flex-end;
    margin-bottom: 12px;
    cursor: pointer;
}

.logo-left {
    font-size: 60px;
    font-family: spacex-bold;
    transform:scaleY(0.6);
}

.logo-right {
    font-size: 25px;
    margin-bottom: 3px;
    margin-left: 12px;
    font-family: spacex-regular;
}

.nav-links {
    display: flex;
}

.nav-items {
    margin-right: 24px;
    cursor: pointer;
}

/* Main Page */
.main-background-setting {
    background-position: center;
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: flex-end;
}

.main-page-link-container {
    margin-left: 50px;
    margin-bottom: 150px;
}

.main-page-link-container h2 {
    font-size: 48px;
    font-family: spacex-bold;
}

/* Animations */
.fade-out {
    opacity: 0 !important;
    transition: opacity 0.5s ease-in-out !important;
}

.fade-in {
    opacity: 1 !important;
    transition: opacity 0.5s ease-in-out !important;
}

.hover-underline-animation {
    display: inline-block;
    position: relative;
}

.hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: white;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.hover-background-animation {
    position: relative;
    z-index: 1;
}
.hover-background-animation::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: scaleY(0);
    transform-origin: top center;
    background-color: white;
    z-index: -1;
    transition: transform 0.3s;
}
.hover-background-animation:hover::after {
    transform: scaleY(1);
    transform-origin: bottom;
}

.hover-background-animation:hover {
    color: black !important;
}

/* Medias */
@media (max-width:1000px) {
    .slideshow-container img {
        width: 400px !important;
    }
} 

@media (max-width:850px) {
    .slideshow-container img {
        width: unset !important;
    }

    .rocket-data-card {
        flex-direction: column;
        justify-content: center;
        width: fit-content;
    }

    .rocket-data-right {
        display: flex;
        flex-direction: column;
        padding-top: 0 !important;
    }

    .rocket-data-left {
        padding-right: 0 !important;
    }
} 

@media (max-width:680px) {
    .slideshow-container img {
        width: 400px !important;
        height: auto;
    }

}

@media (max-width:500px) {
    .slideshow-container img {
        width: 250px !important;
    }

    .prev {
        left: 20px;
    }

    .next {
        right: 20px;
    }

    .rocket-data-card {
        padding: 12px;
    }

}

@font-face {
    font-family: spacex-bold;
    src: url(fonts/BankGothic\ Bold.ttf);
}

@font-face {
    font-family: spacex-regular;
    src: url(fonts/BankGothic\ Regular.ttf);
}
