/* Global */
html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*, *:before, *:after {
    box-sizing: inherit;
}

.d-none {
    display: none !important;
}

body {
    background-color: black;
    color: white;
    margin: 0;
    font-family: spacex-regular;
    overflow: overlay;
}

.main-container {
    position: relative;
}

.main {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

header {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    background-color: black;
    z-index: 99;
}

button {
    background-color: transparent;
    cursor: pointer;
}

li {
    list-style: none;
}

h1 {
    font-size: 55px;
    margin: 0;
}

.link-1 {
    font-size: 20px;
    color: white;
    font-family: spacex-regular;
    text-decoration: none;
    border: 2px solid white;
    padding: 10px 15px;
    z-index: 2;
}

.link-2 {
    font-size: 20px;
    color: white;
    font-family: spacex-regular;
    text-decoration: none;
    border: 2px solid white;
    padding: 10px 15px;
    z-index: 2;
    margin-top: 24px;
}

/* Head */
.logo-container {
    display: flex;
    align-items: flex-end;
    margin-bottom: 12px;
    cursor: pointer;
    color: white;
    text-decoration: none;
}

.logo-left {
    font-size: 60px;
    font-family: spacex-bold;
    transform: scaleY(0.6);
}

.logo-right {
    font-size: 25px;
    margin-bottom: 3px;
    margin-left: 12px;
    font-family: spacex-regular;
}

.nav-links {
    display: flex;
}

.nav-items {
    margin-right: 24px;
    cursor: pointer;
}

/* Welcome Page*/

.welcome {
    background-position: center;
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: flex-end;
    /* transition: opacity 0.5 ease-in-out !important; */
}

.welcome-page-link-container {
    margin-left: 50px;
    margin-bottom: 150px;
}

.welcome-page-link-container p {
    margin-top: 50px;
    margin-bottom: 30px;
}

/* Main Page */
#main-page {
    opacity: 0;
    transition: opacity 0.5s ease-in-out !important;
}

.main-background-setting {
    background-position: center;
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: flex-end;
}

.main-page-link-container {
    margin-left: 50px;
    margin-bottom: 150px;
}

.main-page-link-container h2 {
    font-size: 48px;
    font-family: spacex-bold;
}

/* Footer */
.footer {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer > a {
    color: white;
    text-decoration: none;
    cursor: pointer;
    margin: 0 12px;
}

/* imprint */
.impressum {
    margin: 50px;
}

.impressum  a {
    color: white;
    text-decoration: none;
}

.border-top {
    border-top: 1px solid white;
}

.border-bottom {
    border-bottom: 1px solid white;
}

/**** Animations ****/
.fade-out {
    opacity: 0 !important;
    transition: opacity 0.5s ease-in-out !important;
}

.fade-in {
    opacity: 1 !important;
    transition: opacity 0.5s ease-in-out !important;
}

/* legal-notice*/
.legal-notice-container {
    margin: 50px;
    min-height: calc(100vh - 200px);
}

.legal-notice-container a {
    color: white;
    text-decoration: none;
}


/* Underline Link Animation */
.hover-underline-animation {
    display: inline-block;
    position: relative;
}

.hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: white;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

/* Background Link Animation */
.hover-background-animation {
    position: relative;
    z-index: 1;
}

.hover-background-animation::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: scaleY(0);
    transform-origin: top center;
    background-color: white;
    z-index: -1;
    transition: transform 0.3s;
}

.hover-background-animation:hover::after {
    transform: scaleY(1);
    transform-origin: bottom;
}

.hover-background-animation:hover {
    color: black !important;
}

/* Select Rocket Card Background Animation */

.select-rocket-card {
    position: relative;
    z-index: 1;
}

.select-rocket-card::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: scaleY(0);
    transform-origin: top center;
    background-color: white;
    z-index: -1;
    transition: transform 0.3s;
}

.select-rocket-card:hover::after {
    transform: scaleY(1);
    transform-origin: bottom;
}

.select-rocket-card:hover {
    color: black !important;
}

.select-rocket-card-active {
    background-color: white !important;
    color: black !important;
    border: 2px solid black;
}


/*Scollbar Styling*/
::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: white;
    -webkit-border-radius: 5px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #cacacc;
    
  }

/* loading animation */
#loading-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
}

.lds-ring {
    display: inline-block;
    display: contents;
}

.lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid white;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: white transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}

#loading-ring,#tick {
    margin-left: 150px;
}

@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* Medias */
@media (max-width:1000px) {
    .slideshow-container img {
        width: 400px !important;
    }
}

@media (max-width:850px) {
    .slideshow-container img {
        width: 300px !important;
        height: unset !important;
        
    }

    .rocket-data-card {
        flex-direction: column;
        justify-content: center;
        width: fit-content;
    }

    .rocket-data-right {
        display: flex;
        flex-direction: column;
        padding-top: 0 !important;
    }

    .rocket-data-left {
        padding-right: 0 !important;
    }
}

@media (max-width:750px) {
    .navbar {
        display: none;
    }

    header {
        justify-content: center;
    }

    #launches-table {
        min-width: 200px !important;
    }
}

@media (max-width:600px) {
    .select-rocket-card {
        margin: 0px 6px;
        padding: 6px 11px;
        font-size: 12px;
    }
}

@media (max-width:530px) {
    .slideshow-container img {
        width: 250px !important;
    }

    .prev {
        left: 20px !important;
    }

    .next {
        right: 20px !important;
    }

    .rocket-data-card {
        padding: 12px;
    }

    .logo-left {
        font-size: 50px;
    }

    .logo-right {
        font-size: 17px;
    }

    .launches-data-container table {
        font-size: 13px;
        margin-top: 20px;
    }

    .select-rocket-container {
        flex-direction: column;
    }

    .select-rocket-card {
        margin: 5px 6px !important;
    }

}

@media (max-width:434px) {
    .rocket-data-card {
        padding: 12px 20px 36px 20px !important;
    }

    .launches-data-container table {
        font-size: 11px;
    }

    .rockets-data-name {
        min-width: 142px !important;
    }

    #rockets-container {
        margin-left: 10px !important;
        margin-right: 10px !important;
    }

    .rocket-card img {
        height: 136px !important;
        width: 215px !important;
    }

    .rocket-card-top span {
        font-size: 14px;
    }

    .mission-name {
        max-width: 100px !important;
    }
}

@font-face {
    font-family: spacex-bold;
    src: url(fonts/BankGothic\ Bold.ttf);
}

@font-face {
    font-family: spacex-regular;
    src: url(fonts/BankGothic\ Regular.ttf);
}